* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin-right: 0;
    margin-bottom: 0;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

.homepage {
    background-color: #1bbcef;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav .list {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-right: 50px;
}

nav .list-item {
    color: #fff;
}

nav .active {
    color: #1bbcef;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #1bbcef;
}

.logo {
    width: 120px;
    margin-left: 150px;
}

.homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    height: 470px;
}
.homepage-img {
    padding: 50px;
}

.bottom-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    margin-top: 50px;
}

.bottom-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 230px;
    text-align: center;
    background-color: #1bbcef;
}

.bottom-card-content p {
    width: 170px;
    font-size: 14px;
    color: #181818;
    margin-top: -10px;
}

.bottom-card-content-active p {
    color: #fff;
}

  @media (min-width: 481px) and (max-width: 767px){
    .logo {
        margin-left: 60px;
    }
    .bottom-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 50px;
        margin-top: 50px;
    }
    .bottom-card{
        display: flex;
        height: 150px;
        width: 200px;
        margin-inline: 10px;
        text-align: center;
    }
    
    .bottom-card-content p {
        width: 170px;
        font-size: 14px;
        color: #181818;
        margin-top: -10px;
    }
  }

  @media (min-width: 480px) and (max-width: 600px)
  {
    nav .list {
        display: flex;
        width: 500px;
        justify-content: space-between;
        margin-right: 20px;
    }
    .logo {
        width: 90px;
        margin-left: 20px;
    }
    .bottom-cards{
        flex-direction: column;
    }
    .bottom-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 80vw;
        margin-bottom: 40px;

    }
    .bottom-card-content p {
        width: 80vw;
        margin-top: 10px;
    }
    
.homepage-container {
    height: 470px;
}
.homepage-img {
    padding: 50px;
    height:400px ;
    width: 400px;
}
  }
